html {
  background-color: #F6B9CE;
}

header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

header img {
  max-width: 120px;
}

.status-display {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: #EC6AA4;
}

.result-display {
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
  background-color: #EC6AA4;
}

.scan-btn {
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 28px;
  font-size: 1rem;
}

.scan-btn.scan {
  background: #022576;
}

.scan-btn.scan:hover {
  background: rgba(2, 37, 118, 0.8);
}

.scan-btn.upload {
  background: #EC6AA4;
}

.scan-btn.upload:hover {
  background: rgb(236, 106, 164, 0.8);
}
